body {
    background-color: #f5f5f5;
}

h1 {
    color: #0d6efd;
}

.navbar-brand {
    font-weight: bold;
}
.hero-image {
    width: 95vw;
    max-width: none;
    height: auto;
    display: block;
    margin: 20px auto;
}