{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-header text-center">

                <h3>Forgot Password</h3>

            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">

                            Registered Email

                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required>

                    </div>

                    <button
                        class="btn btn-primary w-100">

                        Send OTP

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}